body {
  background-color: #2c3e50;
  width: 90%;
}
header img {
  max-width: 20px;
  height: auto;
}

#botao-alterar-tema {
  position: absolute;
  right: 50px;
}

.logo {
  position: relative;
  left: 50px;
}

ul {
  list-style-type: none;
  width: 200px;
  align-items: center;
}
ul li {
  display: inline;
}

.tipos li {
  border: 2px solid;
}

.informacoes {
  border: 1px solid;
  border-radius: 5px;
  text-align: center;
}

.gif {
  display: inline-block;
}
